@model cursach.Models.Item

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/ars.css" asp-append-version="true" />
<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }

            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="@(ViewData["ItemTypeId"] as IEnumerable<SelectListItem>)"></select>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <!--STATUS-->
            <div class="form-group" id="Select_Status">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" id="Status" asp-items="@(ViewData["StatusOptions"] as IEnumerable<SelectListItem>)"></select>
            </div>

            <div class="form-group ARS" id="Available">
                <label asp-for="Available.DateListed" class="control-label">Date Listed</label>
                <input asp-for="Available.DateListed" class="form-control" type="date" />
                <span asp-validation-for="Available.DateListed" class="text-danger"></span>
            </div>

            <div class="form-group ARS" id="Reserved">
                <label asp-for="ReservedId" class="control-label">Reserved</label>
                <select asp-for="ReservedId" class="form-control" asp-items="@(ViewData["ReservedId"] as IEnumerable<SelectListItem>)"></select>
            </div>

            <div class="form-group ARS" id="Sold">
                <label asp-for="SoldId" class="control-label">Sold</label>
                <select asp-for="SoldId" class="form-control" asp-items="@(ViewData["SoldId"] as IEnumerable<SelectListItem>)"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--<script src="~/js/ars.js"></script>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
