@model IEnumerable<cursach.Models.Reserved>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ReservedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ExpirationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.InterestRate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservedId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservedId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservedId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Кнопки пагинации -->
<div class="d-flex justify-content-between">
    @if (ViewBag.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" class="btn btn-primary">Назад</a>
    }
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" class="btn btn-primary">Вперед</a>
    }
</div>

